<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
						   http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context-4.3.xsd
						   http://www.springframework.org/schema/mvc
						   http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
						   http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx-4.3.xsd ">
					
	 	<!-- 异步线程池 --> 
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"> 
	    <!-- 核心线程数,默认为1  -->  
	    <property name="corePoolSize" value="10" />  
	    <!-- 最大线程数 ,默认为Integer.MAX_VALUE -->  
	    <property name="maxPoolSize" value="10" />  
	    <!-- 队列最大长度 >=mainExecutor.maxSize -->  
	    <property name="queueCapacity" value="20" />  
	    <!-- 线程池维护线程所允许的空闲时间 -->  
	    <property name="keepAliveSeconds" value="30" />  
	    <!-- 线程池对拒绝任务(无线程可用)的处理
	    策略 --> <!-- 若不作该处理，当线程满了，队列满了之后，继续往下增加任务，则抛出异常，拒绝该任务 --> 
	    <property name="rejectedExecutionHandler"> 
	     
	   		<!-- AbortPolicy:直接抛出java.util.concurrent.RejectedExecutionException异常 -->
            <!-- CallerRunsPolicy:主线程直接执行该任务，执行完之后尝试添加下一个任务到线程池中，可以有效降低向线程池内添加任务的速度 -->
            <!-- DiscardOldestPolicy:抛弃旧的任务、暂不支持；会导致被丢弃的任务无法再次被执行 -->
            <!-- DiscardPolicy:抛弃当前任务、暂不支持；会导致被丢弃的任务无法再次被执行 -->
	      <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />  
	    </property>
	</bean>
	  
	<bean id="taskExecutorUtil" class="com.service.TaskExecutorUtil">    
	    <!-- <constructor-arg ref="taskExecutor" />  --> 
	    <property name="taskExecutor" ref="taskExecutor" /> 
	</bean> 
	
	<!-- 托管线程 -->
	<bean id="logsAnalyzeService" class="com.service.LogsAnalyzeServiceImpl"> 
		<property name="taskExecutorUtil" ref="taskExecutorUtil" />    
	</bean> 
	<bean id="ipAddService" class="com.service.IIpAddServiceImpl"> 
		<property name="taskExecutorUtil" ref="taskExecutorUtil" />    
	</bean> 
 	
 	
</beans>
